code, pre {
	font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
}

/* Makes code blocks have horizontal scrollers and nowrap */
pre.highlight {
  overflow-x: auto;
  white-space: pre;
}

@media (min-width: 105em) {
  .content {
      margin:auto;
  }
}

/* <DarkMode> */

body {
  color: #dcdcdc;
  background-color: #333;
}

.page-title,
.post-title,
.post-title a {
  color: #dcdcdc;
}

pre, code {
  background-color: #272727;
}

pre.highlight {
	background-color: #272727;
}

div.sidebar {
	background-color: #333;
}

h1, h2, h3, h4, h5, h6 {
    color: #dcdcdc;
}

/* </DarkMode> */
