---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}

  <p>
    <iframe
      src="https://www.facebook.com/plugins/like.php?href={{ site.url}}{{ page.url }}&width=148&layout=button&action=like&size=small&show_faces=false&share=true&height=20&appId"
      width="148" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true">
    </iframe>
    <a class="twitter-share-button"
      href="https://twitter.com/intent/tweet">
      Tweet
    </a>
  </p>

</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
